body,html
{
    height: 100%;
    margin: 0;
}
.navbar
{
    height: 10%;
}
.navbar .container ul
{
    display: flex;
    list-style-type: none;
}
.navbar .container ul li
{
    margin-left: 20px;
}
.navbar .container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.navbar .ime
{
    font-weight: bold;
    font-size: 30px;
}
.navbar a
{
    text-decoration: none;
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover
{
    border: 10px solid blue;
    background-color: blue;
    border-radius: 25px;
    color: white;
}
main
{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
}
.div li
{
    font-size: 30px;
    margin-top: 60px;
}
.div ul
{
    list-style-image: url("clipboard.jpg");
}
.slika
{
    margin-top: 50px;
}